*.gz
*.xml
*.iml

*~
trunk/build/
trunk/dist/
pessto-pipeline.sublime-project
pessto-pipeline.sublime-workspace
__init__.pyc
_version.pyc
cosmics.pyc
efoscastrodef.pyc
efosccalibdef.pyc
efoscfastspecdef.pyc
efoscphotredudef.pyc
#efoscspec1Ddef.pyc
#efoscspec2Ddef.pyc
soficalibdef.pyc
sofiphotredudef.pyc
sofispec1Ddef.pyc
sofispec2Ddef.pyc
sqlcl.pyc
#util.pyc

# Added by Tomás M.
test
Test_data_GR18
Test_data_GR20
